* { /* mencari tag */
    font: optional;
}

h1 { /* mencari seluruh tag h1 */
    color: aliceblue;
}

.pi { /* mencari tag dengan class="pi"*/
    color: antiquewhite;
}

#pu { /* mencari tag dengan id="pu"*/
    color: aqua;
}

p.pi { /* mencari tag paragraf dengan class="pi" */
    color: beige;
}

ol li a { /* mencari tag a didalam li didalam ol */
    color: aquamarine;
}

body {
    color: darkblue
}

a {
    color: inherit;
}